includes:
  - ./php_85.neon

parameters:
  checkTooWideParameterOutInProtectedAndPublicMethods: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkTooWideThrowTypesInProtectedAndPublicMethods: true
  treatPhpDocTypesAsCertain: true
