includes:
  - ./php_85.neon

parameters:
  checkTooWideParameterOutInProtectedAndPublicMethods: false
  checkTooWideReturnTypesInProtectedAndPublicMethods: false
  checkTooWideThrowTypesInProtectedAndPublicMethods: false
  treatPhpDocTypesAsCertain: false
